<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.pizza.work"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:debuggable="true">
        <activity android:label="@string/title_activity_main" android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Estimate" android:name=".SaleActivity" />
        <activity android:label="Estimate" android:name=".ProgressActivity" />
        <activity android:label="Winners" android:name=".WinnersReportActivity" />
        <activity android:label="Sale Report " android:name=".SaleReportActivity" />
        <activity android:label="Result" android:name=".testActivity" />
        <activity android:label="Ledger Report" android:name=".saleamountwiseActivity" />
        <activity android:label="Menu" android:name=".ResultActivity" />
        <activity android:label="WELCOME" android:name=".MenuActivity" />
        <activity android:label="Personal Ledger" android:name=".PersonalLedgerActivity" />
        <activity android:label="Change Password" android:name=".ChangePassActivity" />
        <activity android:label="Change Password" android:name=".comboActivity" />
    </application>
</manifest>
